.github-container {
  margin-left: 100px;
}

.github-header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.downloadShare-buttons {
    display: flex;
    align-items: center;
    margin-left: 20px;
}

.downloadShare-buttons > * {
    margin-left: 10px;
}

#shareButton {
    color: grey;
}

#shareButton:hover {
    color: #eee;
    cursor: pointer;
}

#downloadButton {
    color: grey;
}

#downloadButton:hover {
    color: #eee;
    cursor: pointer;
}

.searchbar-container {
    margin-left: auto;
}
