* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background: linear-gradient(90deg, #0a0a0a, #424242);
}

h1 {
  color: #eee;
  font-size: 36px;
  font-weight: 800;
  margin-top: 50px;
  margin-bottom: 50px;
}

.app-content {
  display: flex;
}


