.searchbarContainer {
    display: flex;
    align-items: center;
    margin-left: auto;
    background-color: white;
    padding: 10px;
    border-radius: 50px;
}

.searchbarContainer > * {
    margin-left: 5px;
}

.searchbarContainer > input {
    border: none;
    outline: none;
    font-size: 18px;
}